@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#plasmo-shadow-container {
  all: initial;
  box-sizing: border-box;
}
